:root {
	--primary-color: #77b5de;
	--background-color: black;
	--text-color: #00ff00;
}

body {
	margin: 0;
	padding: 0;
	/* overflow: hidden; */
}

.game_window {
	display: block;
	box-sizing: border-box;

	width: 100vw;
	aspect-ratio: 16 / 9;

	margin: 0;
	padding: 2vw;

	background-color: var(--background-color);
	color: var(--text-color);

	font-family: "Consolas", monospace;
	font-size: 2vw;
	line-height: 1em;
	white-space: pre;

	user-select: none;
}
